* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.kompaniya-body {
  width: 1450px;
  height: 6000px;
  border: 1px solid;
}
.kompaniya-body .kompaniya-body-header {
  display: inline-flex;
  height: 853px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}
.kompaniya-body .kompaniya-body-header-nav {
  width: 85%;
  height: 10%;
  display: flex;
}
.kompaniya-body .kompaniya-body-header-nav-logo {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  gap: 85px;
}
.kompaniya-body .kompaniya-body-header-nav-menu {
  height: 100%;
  width: 531.5px;
  display: flex;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-nav-menu ul {
  display: flex;
  gap: 50px;
}
.kompaniya-body .kompaniya-body-header-nav-menu ul li {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber select {
  border: none;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber p {
  color: #3E3E3E;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 1300;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber p span {
  color: #FED036;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-hero {
  width: 100%;
  height: 90%;
  border: px solid;
  background: linear-gradient(0deg, #FED036 3.07%, rgba(255, 196, 0, 0) 26.6%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-color: #FED036;
  display: flex;
}
.kompaniya-body .kompaniya-body-header-hero-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.kompaniya-body .kompaniya-body-header-hero-left h4 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  width: 770px;
  margin-left: 100px;
}
.kompaniya-body .kompaniya-body-header-hero-left p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 670px;
  margin-left: 100px;
}
.kompaniya-body .kompaniya-body-header-hero-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-hero-right img {
  margin-top: 10%;
  margin-left: 8.5%;
  width: 692px;
  height: 600px;
}
.kompaniya-body .kompaniya-body-header-hero-right .button {
  display: none;
}

@media screen and (max-width: 900px) {
  .kompaniya-body {
    width: 850px;
    height: 5000px;
  }
  .kompaniya-body .kompaniya-body-header {
    border: px solid;
    display: flex;
    width: 768px;
    height: 453px;
    flex-direction: column;
  }
  .kompaniya-body .kompaniya-body-header-nav {
    width: 85%;
    height: 10%;
    border: px solid;
    display: flex;
  }
  .kompaniya-body .kompaniya-body-header-nav-logo {
    height: 100%;
    width: 800px;
    border: 1px solid;
    display: flex;
    gap: 400px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .kompaniya-body .kompaniya-body-header-nav-menu {
    display: none;
    width: 0px;
  }
  .kompaniya-body .kompaniya-body-header-nav-phonenumber {
    display: none;
    width: 0px;
  }
  .kompaniya-body .kompaniya-body-header-hero {
    width: 100%;
    height: 85%;
    border: px solid;
    background: linear-gradient(0deg, #FED036 3.07%, rgba(255, 196, 0, 0) 26.6%), url(<path-to-image>), lightgray 50%/cover no-repeat;
    background-color: #FED036;
    display: flex;
  }
  .kompaniya-body .kompaniya-body-header-hero-left {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .kompaniya-body .kompaniya-body-header-hero-left h4 {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    width: 300px;
    margin-left: 50px;
  }
  .kompaniya-body .kompaniya-body-header-hero-left p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 300px;
    margin-left: 50px;
  }
  .kompaniya-body .kompaniya-body-header-hero-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kompaniya-body .kompaniya-body-header-hero-right img {
    margin-top: 9%;
    margin-left: 12.5%;
    width: 352px;
    height: 350px;
  }
}
@media screen and (max-width: 450px) {
  .kompaniya-body {
    width: 420px;
    height: 4901px;
    border: px solid;
  }
  .kompaniya-body .kompaniya-body-header {
    border: px solid;
    display: flex;
    width: 420px;
    height: 650px;
    flex-direction: column;
  }
  .kompaniya-body .kompaniya-body-header-nav {
    width: 85%;
    height: 10%;
    border: px solid;
    display: flex;
  }
  .kompaniya-body .kompaniya-body-header-nav-logo {
    height: 100%;
    width: 420px;
    border: 1px solid;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .kompaniya-body .kompaniya-body-header-nav-menu {
    display: none;
    width: 0px;
  }
  .kompaniya-body .kompaniya-body-header-nav-phonenumber {
    display: none;
    width: 0px;
  }
  .kompaniya-body .kompaniya-body-header-hero {
    width: 100%;
    height: 90%;
    border: px solid;
    background: linear-gradient(0deg, #FED036 3.07%, rgba(255, 196, 0, 0) 26.6%), url(<path-to-image>), lightgray 50%/cover no-repeat;
    background-color: #FED036;
    display: flex;
    flex-direction: column;
  }
  .kompaniya-body .kompaniya-body-header-hero-left {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .kompaniya-body .kompaniya-body-header-hero-left h4 {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    text-transform: uppercase;
    width: 350px;
    text-align: center;
  }
  .kompaniya-body .kompaniya-body-header-hero-left p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 350px;
    text-align: center;
  }
  .kompaniya-body .kompaniya-body-header-hero-right {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .kompaniya-body .kompaniya-body-header-hero-right img {
    margin-top: 0%;
    margin-left: 16.5%;
    width: 352px;
    height: 320px;
  }
  .kompaniya-body .kompaniya-body-header-hero-right .button {
    display: block;
  }
  .kompaniya-body .kompaniya-body-header-hero-right .button .button-call {
    display: block;
    position: absolute;
    width: 177px;
    height: 53px;
    flex-shrink: 0;
    top: 92%;
    left: -3%;
  }
  .kompaniya-body .kompaniya-body-header-hero-right .button .button-whatsApp {
    display: block;
    position: absolute;
    width: 177px;
    top: 92%;
    left: 36%;
    height: 53px;
    flex-shrink: 0;
  }
}
.about_section {
  width: 1240px;
  height: 1400px;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about_section-top {
  height: 15%;
  width: 100%;
  border: px solid;
  display: flex;
  align-items: center;
}
.about_section-top-ul {
  margin-top: 50px;
  width: 1240px;
  height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about_section-top-ul-li {
  width: 300px;
  height: 100px;
}
.about_section-top-ul-li .line {
  border-radius: 1px;
  background: #3C93F0;
  width: 290px;
  height: 2px;
  flex-shrink: 0;
}
.about_section-top-ul-li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  width: 295px;
}
.about_section-top-ul-li h4 span {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
}
.about_section-top-ul-li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 295px;
}
.about_section-top-ul-li2 {
  width: 300px;
  height: 100px;
}
.about_section-top-ul-li2 .line {
  border-radius: 1px;
  background: #3C93F0;
  width: 290px;
  height: 2px;
  flex-shrink: 0;
}
.about_section-top-ul-li2 h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  width: 295px;
}
.about_section-top-ul-li2 h4 span {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
}
.about_section-top-ul-li2 p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 295px;
}
.about_section-top-ul-li3 {
  width: 300px;
  height: 100px;
}
.about_section-top-ul-li3 .line {
  border-radius: 1px;
  background: #3C93F0;
  width: 290px;
  height: 2px;
  flex-shrink: 0;
}
.about_section-top-ul-li3 h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  width: 295px;
}
.about_section-top-ul-li3 h4 span {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
}
.about_section-top-ul-li3 p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 295px;
}
.about_section-top-ul-li4 {
  width: 300px;
  height: 100px;
}
.about_section-top-ul-li4 .line {
  border-radius: 1px;
  background: #3C93F0;
  width: 290px;
  height: 2px;
  flex-shrink: 0;
}
.about_section-top-ul-li4 h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  width: 295px;
}
.about_section-top-ul-li4 h4 span {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
}
.about_section-top-ul-li4 p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 295px;
}
.about_section-center {
  height: 25%;
  width: 100%;
  border: px solid;
}
.about_section-center p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1240px;
  display: flex;
  flex-direction: column;
  column-gap: 300px;
}
.about_section-bottom {
  height: 45%;
  width: 100%;
  border: px solid;
  background-image: url(../../../pages/mavlonbek-kompaniya/img/about_img.png);
  background-size: cover;
}

@media screen and (max-width: 900px) {
  .about_section {
    width: 100%;
    height: 1100px;
    border: px solid;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .about_section .about_section-top {
    height: 15%;
    width: 720px;
    border: px solid;
    display: flex;
    align-items: center;
  }
  .about_section .about_section-top .about_section-top-ul {
    margin-top: 20px;
    width: 700px;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li {
    width: 200px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 {
    width: 200px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 {
    width: 200px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 {
    width: 200px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section-center {
    height: 25%;
    width: 100%;
    border: px solid;
  }
  .about_section-center p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 688px;
    display: flex;
    flex-direction: column;
  }
  .about_section-bottom {
    padding-top: 200px;
    height: 35%;
    width: 100%;
    border: px solid;
    background-image: url(/designA/pages/mavlonbek-kompaniya/img/about_img.png);
    background-size: cover;
  }
}
@media screen and (max-width: 450px) {
  .about_section {
    width: 420px;
    height: 1000px;
    border: px solid;
    display: flex;
    flex-direction: column;
  }
  .about_section .about_section-top {
    height: 15%;
    width: 420px;
    border: px solid;
    display: flex;
    align-items: center;
  }
  .about_section .about_section-top .about_section-top-ul {
    margin-top: 20px;
    width: 400px;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li {
    width: 100px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 120px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 185px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 {
    width: 200px;
    height: 100px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li2 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 {
    width: 200px;
    height: 100px;
    display: none;
  }
  .about_section .about_section-top .about_section-top-ul-li3 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li3 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 {
    width: 200px;
    height: 100px;
    display: none;
  }
  .about_section .about_section-top .about_section-top-ul-li4 .line {
    border-radius: 1px;
    background: #3C93F0;
    width: 150px;
    height: 2px;
    flex-shrink: 0;
    gap: 20px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 10px;
    width: 155px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 h4 span {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 105%; /* 63px */
    width: 165px;
  }
  .about_section .about_section-top .about_section-top-ul-li4 p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 165px;
  }
  .about_section-center {
    height: 45%;
    width: 100%;
    border: px solid;
  }
  .about_section-center p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 15.5px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 355px;
  }
  .about_section-bottom {
    width: 100%;
    height: 100px;
    border: px solid;
    background-image: url(/designA/pages/mavlonbek-kompaniya/img/mobile-about-img.png);
    background-size: cover;
  }
}
.hystory-section {
  width: 100%;
  height: 800px;
  border: px solid;
}
.hystory-section .hystory-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hystory-section .hystory-text h3 {
  color: #3E3E3E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1240px;
}
.hystory-section .hystory-text p {
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hystory-section .hystory-line {
  width: 1445px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDF3F6;
  position: relative;
}
.hystory-section .hystory-line .main-line {
  position: absolute;
  top: 50%;
  left: 8%;
}
.hystory-section .hystory-line .line-1 {
  position: absolute;
  top: 19%;
  left: 8%;
}
.hystory-section .hystory-line .line-2 {
  position: absolute;
  top: 19%;
  left: 26%;
}
.hystory-section .hystory-line .line-3 {
  position: absolute;
  top: 19%;
  left: 44%;
}
.hystory-section .hystory-line .line-4 {
  position: absolute;
  top: 19%;
  left: 62%;
}
.hystory-section .hystory-line .line-5 {
  position: absolute;
  top: 19%;
  left: 80%;
}
.hystory-section .hystory-line .sircle-1 {
  position: absolute;
  top: 16%;
  left: 107px;
}
.hystory-section .hystory-line .sircel-2 {
  position: absolute;
  top: 16%;
  left: 367px;
}
.hystory-section .hystory-line .sircle-3 {
  position: absolute;
  top: 16%;
  left: 627px;
}
.hystory-section .hystory-line .sircle-4 {
  position: absolute;
  top: 16%;
  left: 887px;
}
.hystory-section .hystory-line .sicle-5 {
  position: absolute;
  top: 16%;
  left: 1147px;
}
.hystory-section .hystory-line .b-line-1 {
  position: absolute;
  top: 50%;
  left: 17%;
}
.hystory-section .hystory-line .b-line-2 {
  position: absolute;
  top: 50%;
  left: 35%;
}
.hystory-section .hystory-line .b-line-3 {
  position: absolute;
  top: 50%;
  left: 53%;
}
.hystory-section .hystory-line .b-line-4 {
  position: absolute;
  top: 50%;
  left: 71%;
}
.hystory-section .hystory-line .b-sircle-1 {
  position: absolute;
  top: 66%;
  left: 237px;
}
.hystory-section .hystory-line .b-sircle-2 {
  position: absolute;
  top: 66%;
  left: 497px;
}
.hystory-section .hystory-line .b-sircle-3 {
  position: absolute;
  top: 66%;
  left: 758px;
}
.hystory-section .hystory-line .b-src-4 {
  position: absolute;
  top: 66%;
  left: 1018px;
}
.hystory-section .hystory-line .hystory-line-text-top {
  width: 85%;
  height: 40%;
}
.hystory-section .hystory-line .hystory-line-text-top-ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 60px;
  margin-left: 30px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li {
  width: 25%;
  height: 100%;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 198px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 198px;
}
.hystory-section .hystory-line .hystory-line-text-bottom {
  width: 70%;
  height: 40%;
  margin-left: 16%;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 30px;
  margin-left: 10px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 228px;
  margin-top: 60px;
  margin-left: 20px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 228px;
  margin-left: 20px;
}

@media screen and (max-width: 900px) {
  .hystory-section {
    width: 100%;
    height: 600px;
    border: px solid;
  }
  .hystory-section .hystory-text {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .hystory-section .hystory-text h3 {
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 688px;
  }
  .hystory-section .hystory-text p {
    width: 688px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hystory-section .hystory-line {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EDF3F6;
    position: relative;
  }
  .hystory-section .hystory-line .main-line {
    position: absolute;
    top: 50%;
    left: 8%;
    width: 683px;
  }
  .hystory-section .hystory-line .line-1 {
    position: absolute;
    top: 19%;
    left: 8%;
  }
  .hystory-section .hystory-line .line-2 {
    position: absolute;
    top: 19%;
    left: 26%;
  }
  .hystory-section .hystory-line .line-3 {
    position: absolute;
    top: 19%;
    left: 44%;
  }
  .hystory-section .hystory-line .line-4 {
    position: absolute;
    top: 19%;
    left: 62%;
  }
  .hystory-section .hystory-line .line-5 {
    position: absolute;
    top: 19%;
    left: 80%;
  }
  .hystory-section .hystory-line .sircle-1 {
    position: absolute;
    top: 16%;
    left: 60px;
  }
  .hystory-section .hystory-line .sircel-2 {
    position: absolute;
    top: 16%;
    left: 213px;
  }
  .hystory-section .hystory-line .sircle-3 {
    position: absolute;
    top: 16%;
    left: 365px;
  }
  .hystory-section .hystory-line .sircle-4 {
    position: absolute;
    top: 16%;
    left: 518px;
  }
  .hystory-section .hystory-line .sicle-5 {
    position: absolute;
    top: 16%;
    left: 672px;
  }
  .hystory-section .hystory-line .b-line-1 {
    position: absolute;
    top: 50%;
    left: 17%;
  }
  .hystory-section .hystory-line .b-line-2 {
    position: absolute;
    top: 50%;
    left: 35%;
  }
  .hystory-section .hystory-line .b-line-3 {
    position: absolute;
    top: 50%;
    left: 53%;
  }
  .hystory-section .hystory-line .b-line-4 {
    position: absolute;
    top: 50%;
    left: 71%;
  }
  .hystory-section .hystory-line .b-sircle-1 {
    position: absolute;
    top: 66%;
    left: 137px;
  }
  .hystory-section .hystory-line .b-sircle-2 {
    position: absolute;
    top: 66%;
    left: 290px;
  }
  .hystory-section .hystory-line .b-sircle-3 {
    position: absolute;
    top: 66%;
    left: 443px;
  }
  .hystory-section .hystory-line .b-src-4 {
    position: absolute;
    top: 66%;
    left: 595px;
  }
  .hystory-section .hystory-line .hystory-line-text-top {
    width: 85%;
    height: 40%;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 30px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li {
    width: 25%;
    height: 100%;
    border: px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 110px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 110px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom {
    width: 70%;
    height: 40%;
    margin-left: 16%;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 30px;
    margin-left: 10px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 110px;
    margin-top: 60px;
    margin-left: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 110px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 450px) {
  .hystory-section {
    width: 100%;
    height: 900px;
    border: px solid;
  }
  .hystory-section .hystory-text {
    width: 100%;
    height: 25%;
    display: flex;
  }
  .hystory-section .hystory-text h3 {
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    width: 355px;
  }
  .hystory-section .hystory-text p {
    width: 355px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hystory-section .hystory-line {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    background: #EDF3F6;
    position: relative;
  }
  .hystory-section .hystory-line .main-line {
    position: absolute;
    top: 50%;
    left: 8%;
    display: none;
  }
  .hystory-section .hystory-line .line-1 {
    position: absolute;
    top: 19%;
    left: 8%;
    display: none;
  }
  .hystory-section .hystory-line .line-2 {
    position: absolute;
    top: 19%;
    left: 26%;
    display: none;
  }
  .hystory-section .hystory-line .line-3 {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 2px;
  }
  .hystory-section .hystory-line .line-4 {
    position: absolute;
    top: 19%;
    left: 62%;
    display: none;
  }
  .hystory-section .hystory-line .line-5 {
    position: absolute;
    top: 19%;
    left: 80%;
    display: none;
  }
  .hystory-section .hystory-line .sircle-1 {
    position: absolute;
    top: -1%;
    left: 201px;
  }
  .hystory-section .hystory-line .sircel-2 {
    position: absolute;
    top: 8%;
    left: 201px;
  }
  .hystory-section .hystory-line .sircle-3 {
    position: absolute;
    top: 21%;
    left: 201px;
  }
  .hystory-section .hystory-line .sircle-4 {
    position: absolute;
    top: 31%;
    left: 201px;
  }
  .hystory-section .hystory-line .sicle-5 {
    position: absolute;
    top: 41%;
    left: 201px;
  }
  .hystory-section .hystory-line .b-line-1 {
    position: absolute;
    top: 50%;
    left: 17%;
    display: none;
  }
  .hystory-section .hystory-line .b-line-2 {
    position: absolute;
    top: 50%;
    left: 35%;
    display: none;
  }
  .hystory-section .hystory-line .b-line-3 {
    position: absolute;
    top: 50%;
    left: 53%;
    display: none;
  }
  .hystory-section .hystory-line .b-line-4 {
    position: absolute;
    top: 50%;
    left: 71%;
    display: none;
  }
  .hystory-section .hystory-line .b-sircle-1 {
    position: absolute;
    top: 54%;
    left: 201px;
  }
  .hystory-section .hystory-line .b-sircle-2 {
    position: absolute;
    top: 62%;
    left: 201px;
  }
  .hystory-section .hystory-line .b-sircle-3 {
    position: absolute;
    top: 78%;
    left: 201px;
  }
  .hystory-section .hystory-line .b-src-4 {
    position: absolute;
    top: 97%;
    left: 201px;
  }
  .hystory-section .hystory-line .hystory-line-text-top {
    width: 85%;
    height: 40%;
    display: none;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 60px;
    margin-left: 30px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li {
    width: 25%;
    height: 100%;
    border: px solid;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 198px;
  }
  .hystory-section .hystory-line .hystory-line-text-top-ul li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 198px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom {
    width: 70%;
    height: 40%;
    display: none;
    margin-left: 16%;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul {
    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 30px;
    margin-left: 10px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 228px;
    margin-top: 60px;
    margin-left: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-bottom-ul li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 228px;
    margin-left: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-left {
    width: 50%;
    height: 100%;
    display: block;
    border: px solid;
  }
  .hystory-section .hystory-line .hystory-line-text-left-ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-left-ul li {
    width: 25%;
    height: 100%;
    border: px solid;
  }
  .hystory-section .hystory-line .hystory-line-text-left-ul li h4 {
    color: #3E3E3E;
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: -70px;
  }
  .hystory-section .hystory-line .hystory-line-text-left-ul li p {
    color: #3E3E3E;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 120px;
  }
  .hystory-section .hystory-line .hystory-line-text-right {
    width: 50%;
    height: 100%;
    margin-top: 100px;
    border: px solid;
  }
  .hystory-section .hystory-line .hystory-line-text-right-ul {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .hystory-section .hystory-line .hystory-line-text-right-ul li {
    width: 25%;
    height: 100%;
    border: px solid;
  }
  .hystory-section .hystory-line .hystory-line-text-right-ul li h4 {
    color: #3E3E3E;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -60px;
  }
  .hystory-section .hystory-line .hystory-line-text-right-ul li p {
    color: #3E3E3E;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 160px;
    text-align: left;
    margin-left: -60px;
  }
}
.certificates-section {
  width: 1440px;
  height: 700px;
  border: px solid;
}
.certificates-section .certificates-section-text {
  width: 1300px;
  height: 45%;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.certificates-section .certificates-section-text h3 {
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.certificates-section .certificates-section-text p {
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.certificates-section .certificates-section-img {
  width: 1300px;
  height: 55%;
  border: px solid;
  display: flex;
  gap: 20px;
}
.certificates-section .certificates-section-img img {
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  .certificates-section {
    width: 100%;
    height: 600px;
    border: px solid;
    display: flex;
    flex-direction: column;
  }
  .certificates-section .certificates-section-text {
    width: 850px;
    height: 60%;
    border: px solid;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .certificates-section .certificates-section-text h3 {
    margin-top: 17%;
    width: 688px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .certificates-section .certificates-section-text p {
    width: 688px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .certificates-section .certificates-section-img {
    width: 850px;
    height: 40%;
    border: px solid;
    display: flex;
    gap: 4px;
  }
  .certificates-section .certificates-section-img img {
    border-radius: 4px;
    width: 184px;
    height: 236px;
  }
}
@media screen and (max-width: 450px) {
  .certificates-section {
    width: 100%;
    height: 700px;
    border: px solid;
    display: flex;
    flex-direction: column;
  }
  .certificates-section .certificates-section-text {
    width: 400px;
    height: 40%;
    border: px solid;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .certificates-section .certificates-section-text h3 {
    width: 355px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .certificates-section .certificates-section-text p {
    width: 355px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .certificates-section .certificates-section-img {
    width: 420px;
    height: 70%;
    border: px solid;
    display: flex;
    gap: 4px;
    border-radius: 3px;
    background: url(../../../pages/mavlonbek-kompaniya/img/Certificate_\(2\).png), lightgray 50%/cover no-repeat;
  }
  .certificates-section .certificates-section-img img {
    display: none;
  }
}
.worker-section {
  width: 1440px;
  height: 700px;
  border: px solid;
}
.worker-section .worker-section-text {
  width: 1300px;
  height: 50%;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.worker-section .worker-section-text h3 {
  margin-top: 5%;
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.worker-section .worker-section-text p {
  color: #3E3E3E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1240px;
}
.worker-section .worker-section-img {
  width: 1250px;
  height: 50%;
  border: px solid;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.worker-section .worker-section-img img {
  width: 400px;
  height: 316px;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  .worker-section {
    width: 100%;
    border: px solid;
    height: 400px;
  }
  .worker-section .worker-section-text {
    width: 850px;
    height: 50%;
    border: px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .worker-section .worker-section-text h3 {
    margin-top: 5%;
    width: 688px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .worker-section .worker-section-text p {
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 688px;
  }
  .worker-section .worker-section-img {
    width: 850px;
    height: 50%;
    border: px solid;
    display: flex;
    flex-direction: row;
  }
  .worker-section .worker-section-img img {
    width: 270px;
    height: 198px;
    flex-shrink: 0;
    border-radius: 3px;
  }
}
@media screen and (max-width: 450px) {
  .worker-section {
    width: 100%;
    border: px solid;
    height: 1100px;
  }
  .worker-section .worker-section-text {
    width: 420px;
    height: 20%;
    border: px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .worker-section .worker-section-text h3 {
    margin-top: 5%;
    width: 355px;
    color: #3E3E3E;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .worker-section .worker-section-text p {
    color: #3E3E3E;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 355px;
  }
  .worker-section .worker-section-img {
    width: 420px;
    height: 80%;
    border: px solid;
    display: flex;
    flex-direction: column;
  }
  .worker-section .worker-section-img img {
    width: 355px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 3px;
  }
}
.Faq-section {
  width: 1400px;
  height: 1200px;
  border: px solid;
  display: flex;
  flex-direction: column;
}
.Faq-section .Faq-section-top {
  width: 90%;
  height: 24%;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Faq-section .Faq-section-top h3 {
  margin-top: 5%;
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.Faq-section .Faq-section-top p {
  color: #3E3E3E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1240px;
}
.Faq-section .Faq-section-top svg {
  text-align: center;
  margin-left: 45%;
}
.Faq-section .Faq-section-center {
  width: 90%;
  height: 50%;
  border: px solid;
  display: flex;
}
.Faq-section .Faq-section-center-faq {
  width: 65%;
  border: px solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
  position: relative;
}
.Faq-section .Faq-section-center-faq h3 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 370px;
  margin-left: 0%;
}
.Faq-section .Faq-section-center-faq p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 760px;
  margin-left: 0%;
}
.Faq-section .Faq-section-center-faq .Vector1 {
  position: absolute;
  top: 0%;
  right: 3%;
}
.Faq-section .Faq-section-center-faq .Vector2 {
  position: absolute;
  top: 15%;
  right: 3%;
}
.Faq-section .Faq-section-center-faq .Vector3 {
  position: absolute;
  top: 34%;
  right: 3%;
}
.Faq-section .Faq-section-center-faq .Vector4 {
  position: absolute;
  top: 50%;
  right: 3%;
}
.Faq-section .Faq-section-center-faq .Vector5 {
  position: absolute;
  top: 65%;
  right: 3%;
}
.Faq-section .Faq-section-center-faq .Vector6 {
  position: absolute;
  top: 83%;
  right: 3%;
}
.Faq-section .Faq-section-center .Faq-section-center-img {
  width: 35%;
  border: px solid;
  height: 100%;
  background-image: url(/designA/pages/mavlonbek-kompaniya/img/master-gift.png);
  background-size: cover;
  width: 342.564px;
  height: 535px;
  flex-shrink: 0;
}
.Faq-section .Faq-section-bottom {
  width: 90%;
  height: 30%;
  border: px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment {
  width: 30%;
  height: 60%;
  border: px solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 3px;
  background: #EDF3F6;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-top {
  width: 80%;
  height: 20%;
  border: px solid;
  display: flex;
  align-items: center;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-top h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 344.304px;
  margin-left: -15px;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-center {
  width: 80%;
  height: 40%;
  border: px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-center .nalichi {
  display: flex;
  width: 123.544px;
  height: 40px;
  padding: 8px 14.544px 8px 10px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  text-align: center;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-center .perevod {
  display: flex;
  width: 205.57px;
  height: 40px;
  padding: 8px 16.57px 8px 10px;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  text-align: center;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-bottom {
  width: 90%;
  height: 40%;
  border: px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-payment-bottom img {
  width: 97.342px;
  height: 35px;
  flex-shrink: 0;
}
.Faq-section .Faq-section-bottom .Faq-section-bottom-order {
  width: 70%;
  height: 60%;
  border: px solid;
  display: flex;
  border-radius: 3px;
  background: #FED036;
  background-image: url(/designA/pages/mavlonbek-kompaniya/img/order.png);
  background-size: cover;
}

footer {
  width: 1450px;
  height: 350px;
  border: px solid;
  background-color: #3E3E3E;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
}
footer img {
  position: absolute;
  top: 32%;
  left: 43%;
}
footer h1 {
  color: #FED036;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 295px;
}
footer h1 span {
  color: #FFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 295px;
}
footer p {
  color: #FED036;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
footer h4 {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h5 {
  color: #FED036;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
footer h3 {
  color: #FFF;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer h6 {
  color: #EDF3F6;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
  width: 683px;
}

/*# sourceMappingURL=main.css.map */
