* {
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.kompaniya-body {
  width: 1450px;
  height: 5000px;
  border: 1px solid;
}
.kompaniya-body .kompaniya-body-header {
  display: inline-flex;
  height: 853px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}
.kompaniya-body .kompaniya-body-header-nav {
  width: 85%;
  height: 10%;
  display: flex;
}
.kompaniya-body .kompaniya-body-header-nav-logo {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  gap: 85px;
}
.kompaniya-body .kompaniya-body-header-nav-menu {
  height: 100%;
  width: 531.5px;
  display: flex;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-nav-menu ul {
  display: flex;
  gap: 50px;
}
.kompaniya-body .kompaniya-body-header-nav-menu ul li {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber {
  height: 100%;
  width: 35%;
  display: flex;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber select {
  border: none;
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber p {
  color: #3E3E3E;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 1300;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-nav-phonenumber p span {
  color: #FED036;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.kompaniya-body .kompaniya-body-header-hero {
  width: 100%;
  height: 90%;
  border: 0px solid;
  background: linear-gradient(0deg, #FED036 3.07%, rgba(255, 196, 0, 0) 26.6%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-color: #FED036;
  display: flex;
}
.kompaniya-body .kompaniya-body-header-hero-left {
  width: 50%;
  height: 100%;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.kompaniya-body .kompaniya-body-header-hero-left h4 {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 55px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  width: 770px;
  margin-left: 100px;
}
.kompaniya-body .kompaniya-body-header-hero-left p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 670px;
  margin-left: 100px;
}
.kompaniya-body .kompaniya-body-header-hero-right {
  width: 50%;
  height: 100%;
  border: 0px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kompaniya-body .kompaniya-body-header-hero-right img {
  margin-top: 10%;
  margin-left: 8.5%;
  width: 692px;
  height: 600px;
}

.about_section {
  width: 1240px;
  height: 1400px;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about_section-top {
  height: 15%;
  width: 100%;
  border: 0px solid;
  display: flex;
  align-items: center;
}
.about_section-top-ul {
  margin-top: 50px;
  width: 1240px;
  height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about_section-top-ul-li {
  width: 300px;
  height: 100px;
}
.about_section-top-ul-li .line {
  border-radius: 1px;
  background: #3C93F0;
  width: 290px;
  height: 2px;
  flex-shrink: 0;
}
.about_section-top-ul-li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%;
  width: 295px;
}
.about_section-top-ul-li h4 span {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 105%; /* 63px */
}
.about_section-top-ul-li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 295px;
}
.about_section-center {
  height: 25%;
  width: 100%;
  border: 0px solid;
}
.about_section-center p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 1240px;
  display: flex;
  flex-direction: column;
  column-gap: 300px;
}
.about_section-bottom {
  height: 45%;
  width: 100%;
  border: 0px solid;
  background-image: url(/pages/mavlonbek-kompaniya/img/about_img.png);
  background-size: cover;
}

.hystory-section {
  width: 100%;
  height: 800px;
  border: 0px solid;
}
.hystory-section .hystory-text {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.hystory-section .hystory-text h3 {
  color: #3E3E3E;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 1240px;
}
.hystory-section .hystory-text p {
  width: 1240px;
  color: #3E3E3E;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hystory-section .hystory-line {
  width: 1445px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #EDF3F6;
  position: relative;
}
.hystory-section .hystory-line .main-line {
  position: absolute;
  top: 50%;
  left: 8%;
}
.hystory-section .hystory-line .line-1 {
  position: absolute;
  top: 19%;
  left: 8%;
}
.hystory-section .hystory-line .line-2 {
  position: absolute;
  top: 19%;
  left: 26%;
}
.hystory-section .hystory-line .line-3 {
  position: absolute;
  top: 19%;
  left: 44%;
}
.hystory-section .hystory-line .line-4 {
  position: absolute;
  top: 19%;
  left: 62%;
}
.hystory-section .hystory-line .line-5 {
  position: absolute;
  top: 19%;
  left: 80%;
}
.hystory-section .hystory-line .sircle-1 {
  position: absolute;
  top: 16%;
  left: 107px;
}
.hystory-section .hystory-line .sircel-2 {
  position: absolute;
  top: 16%;
  left: 367px;
}
.hystory-section .hystory-line .sircle-3 {
  position: absolute;
  top: 16%;
  left: 627px;
}
.hystory-section .hystory-line .sircle-4 {
  position: absolute;
  top: 16%;
  left: 887px;
}
.hystory-section .hystory-line .sicle-5 {
  position: absolute;
  top: 16%;
  left: 1147px;
}
.hystory-section .hystory-line .b-line-1 {
  position: absolute;
  top: 50%;
  left: 17%;
}
.hystory-section .hystory-line .b-line-2 {
  position: absolute;
  top: 50%;
  left: 35%;
}
.hystory-section .hystory-line .b-line-3 {
  position: absolute;
  top: 50%;
  left: 53%;
}
.hystory-section .hystory-line .b-line-4 {
  position: absolute;
  top: 50%;
  left: 71%;
}
.hystory-section .hystory-line .b-sircle-1 {
  position: absolute;
  top: 66%;
  left: 237px;
}
.hystory-section .hystory-line .b-sircle-2 {
  position: absolute;
  top: 66%;
  left: 497px;
}
.hystory-section .hystory-line .b-sircle-3 {
  position: absolute;
  top: 66%;
  left: 758px;
}
.hystory-section .hystory-line .b-src-4 {
  position: absolute;
  top: 66%;
  left: 1018px;
}
.hystory-section .hystory-line .hystory-line-text-top {
  width: 85%;
  height: 40%;
}
.hystory-section .hystory-line .hystory-line-text-top-ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 60px;
  margin-left: 30px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li {
  width: 25%;
  height: 100%;
  border: 0px solid;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 198px;
}
.hystory-section .hystory-line .hystory-line-text-top-ul li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 198px;
}
.hystory-section .hystory-line .hystory-line-text-bottom {
  width: 70%;
  height: 40%;
  margin-left: 16%;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul {
  width: 100%;
  height: 100%;
  display: inline-flex;
  gap: 30px;
  margin-left: 10px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li h4 {
  color: #3E3E3E;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 228px;
  margin-top: 60px;
  margin-left: 20px;
}
.hystory-section .hystory-line .hystory-line-text-bottom-ul li p {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 228px;
  margin-left: 20px;
}
@media screen and (max-widht: 400px) {
  .hystory-section .hystory-section {
    width: 200px;
    border: 1px solid;
    background-color: aquamarine;
  }
}

/*# sourceMappingURL=main.css.map */
