$border: px solid;
$mont: 'Montserrat', sans-serif;
$quest:'Questrial', sans-serif;
$roboto:'Roboto', sans-serif;


*{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    list-style: none;
}