@import './global';

.section-header{
    width: 100%;
    height: 800px;
    .header{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .header-nav{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            .nav-center{
                width: 90%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                &-logo{
                    width: 10%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                &-ul{
                    width: 40%;
                    height: 100%;
                    &-ul{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        &-li1{
                            width: 31%;
                            height: 100%;
                            text-decoration: none;
                            list-style-type: none;
                        }
                        &-li{
                            width: 23%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            list-style-type: none;
                            &-a{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-around;
                                text-decoration: none;
                                color: #3E3E3E;
                                font-family: Proxima Nova;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                    }
                }
                &-number{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    &-text{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        &-p{
                            color: #3E3E3E;
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    &-phonenumber{
                        width: 60%;
                        height: 100%;
                        align-items: center;
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        &-p{
                            color: #3E3E3E;
                            text-align: right;
                            font-family: Gilroy;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                        .phonenumber-span{
                            color: #FED036;
                            font-family: Gilroy;
                            font-size: 40px;
                            font-style: normal;
                            font-weight: 900;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
                .nav-last{
                    display: none;
                }
            }
        }
        .header-bottom{
            width: 100%;
            height: 89%;
            background: #FED036;
            &-center{
                width: 90%;
                height: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                &-left{
                    width: 50%;
                    height: 80%;
                    &-top{
                        width: 100%;
                        height: 10%;
                        display: flex;
                        align-items: center;
                        &-p{
                            color: #3E3E3E;
                            font-family: Proxima Nova;
                            font-size: 30px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    &-center{
                        width: 100%;
                        height: 60%;
                        &-top{
                            width: 100%;
                            height: 80%;
                            display: flex;
                            align-items: center;
                            &-p{
                                color: #FFF;
                                font-family: Gilroy;
                                font-size: 60px;
                                font-style: normal;
                                font-weight: 900;
                                line-height: normal;
                                text-transform: uppercase;
                                font-family: 'Roboto', sans-serif;
                            }
                        }
                        &-bottom{
                            width: 26%;
                            height: 20%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            img{
                                width: 23px;
                                height: 23px;
                                flex-shrink: 0;
                            }
                        }
                    }
                    &-bottom{
                        width: 100%;
                        height: 30%;
                        display: flex;
                        align-items: center;
                        &-form{
                            width: 300px;
                            height: 60px;
                            flex-shrink: 0;
                            border-radius: 3px;
                            background: #FFF;
                            display: flex;
                            justify-content: space-between;
                            border: none;
                            &-input{
                                width: 216px;
                                height: 100%;
                                flex-shrink: 0;
                                border: none;
                            }
                            .section{
                                border: none;
                            }
                        }
                        &-btn{
                            width: 163.665px;
                            height: 60px;
                            flex-shrink: 0;
                            border-radius: 3px;
                            background: #3C93F0;
                            border: none;
                            &-a{
                                text-decoration: none;
                                color: #FFF;
                                text-align: center;
                                font-family: Gilroy;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                font-family: 'Roboto', sans-serif;
                                line-height: normal;
                            }
                        }
                    }
                }
                &-right{
                    margin-left: 350px;
                }
            }
        }
    }
}
.main-section1{
    width: 100%;
    height: 1000px;
    margin-top: 80px;
    &-top{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &-p1{
            color: #3E3E3E;
            text-align: center;
            font-family: Gilroy;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            font-family: 'Roboto', sans-serif;
        }
        &-p2{
            margin-top: 20px;
            color: #3E3E3E;
            text-align: center;
            font-family: Proxima Nova;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 30px;
        }
    }
    &-bottom{
        display: flex;
        width: 100%;
        height: 70%;
        justify-content: space-around;
        &-left{
            width: 25%;
            height: 100%;
            &-top{
                width: 100%;
                height: 40%;
                border-radius: 3px;
                border: 2px solid #F6F6F6;
                background: #FFF;
                &-top{
                    width: 100%;
                    height: 30%;
                    border-radius: 3px;
                    border: 2px solid #FED036;
                    background: #FED036;
                    display: flex;
                    align-items: center;
                    .one{
                        width: 57%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        img{
                            width: 24px;
                            height: 24px;
                            flex-shrink: 0;
                        }
                        p{
                            color: #3E3E3E;
                            font-family: Gilroy;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
            }
        }
        &-right{
            width: 70%;
            height: 100%;
            border: 1px solid;
            .imap{
                width: 100%;
                height: 100%;
                position: relative;
            }
            &-img1{
                position: absolute;
                left: 50%;
                top: 5%;
            }
        }
    }
}








.section2{
    width: 100%;
    height: 700px;
    margin-top: 100px;
    &-center{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section2-top{
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: space-between;
            .section2-top-left{
                width: 40%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    color: #3E3E3E;
                    font-family: Gilroy;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    font-family: 'Montserrat', sans-serif;
                }
            }
            .section2-top-right{
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                .section2-top-right-btn{
                    width: 50%;
                    height: 80%;
                    border-radius: 3px;
                    background: #3C93F0;
                    a{
                        text-decoration: none;
                        color: #FFF;
                        text-align: center;
                        font-family: Proxima Nova;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        text-transform: uppercase;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
        .section2-bottom{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            .section2-bottom-section{
                width: 23%;
                height: 100%;
                border-radius: 3px;
                background: #FFF;
                &-top{
                    width: 100%;
                    height: 15%;
                    display: flex;
                    justify-content: space-between;
                    &-left{
                        width: 20%;
                        height: 100%;
                        border-radius: 3px;
                        background: #FED036;
                        display: flex;
                        align-items: center;
                        justify-content: center;    
                    }
                    &-right{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        align-items: end;
                        justify-content: center;
                        flex-direction: column;
                        &-p1{
                           color: #878787;
                            text-align: right;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                        &-p2{
                            color: #3E3E3E;
                            text-align: right;
                            font-family: Proxima Nova;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
                &-center{
                    width: 100%;
                    height: 60%;
                    display: flex;
                    justify-content: space-between;
                    &-left{
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-top: 50px;
                        &-p{
                            color: #878787;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    &-right{
                        margin-top: 50px;
                        width: 50%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: end;
                        .section2-bottom-seciton-center-right-p{
                            color: #3E3E3E;
                            text-align: right;
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
                &-bottom{
                    margin-top: 50px;
                    width: 100%;
                    height: 25%;
                    display: flex;
                    align-items: center;
                    &-left{
                        width: 20%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        img{
                            border-radius: 50%;
                        }
                    }
                    &-right{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        &-p{
                            color: #878787;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                        &-p1{
                            color: #3E3E3E;
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
            }
        }
    }
}












.section3{
    width: 100%;
    height: 1000px;
    margin-top: 150px;
    .section-3-center{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        .section3-center-top{
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;align-items: center;
            .section3-center-top-p1{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 48px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-family: 'Roboto', sans-serif;
            }
            .section3-center-top-p2{
                color: #3E3E3E;
                text-align: center;
                font-family: Proxima Nova;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-family: 'Montserrat', sans-serif;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            img{
                width: 62px;
                height: 62px;
            }
        }
        .section3-center-center{
            width: 100%;
            height: 45%;
            .section3-center-center-section{
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: space-between;
                border: 1px solid #F1F1F1;
                background: #FFF;
                .section-left{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    p{
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .section-center{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    p{
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .section-bottom{
                    width: 40%;
                    height: 100%;
                    display: flex;
                    .section-bottom-left{
                        width: 40%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        p{
                            color: #3E3E3E;
                            text-align: center;
                            font-family: Proxima Nova;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                    .section-bottom-right{
                        width: 60%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-around;
                        img{
                            width: 25px;
                            height: 25px;
                            flex-shrink: 0;
                        }
                        p{
                            color: #3C93F0;
                            text-align: center;
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            text-transform: uppercase;
                            font-family: 'Montserrat', sans-serif;
                        }
                    }
                }
            }
        }
        .section3-center-bottom{
            width: 100%;
            height: 10%;
            margin-top: 30px;   
            display: flex;
            justify-content: space-between;
            .section3-section{
                width: 30%;
                height: 100%;
                border: 1px dashed #3C93F0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .section3-section-left{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin-left: 15px;
                    p{
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
                .section3-section-right{
                    width: 35%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-right: 15px;
                    img{
                        width: 25px;
                        height: 25px;
                        flex-shrink: 0;
                    }
                    p{
                        color: #3E3E3E;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
    }
}


.section4{
    width: 100%;
    height: 700px;
    .section4-center{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        .section4-center-top{
            width: 100%;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .section4-center-top-p1{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 48px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-family: 'Roboto', sans-serif;
                margin-bottom: 20px;
            }
            .section4-center-top-p2{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-family: 'Roboto', sans-serif;
            }
            img{
                width: 62px;
                height: 62px;
            }
        }
        .section4-center-bottom{
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: space-between;
            .section4-center-bottom-left{
                width: 25%;
                height: 100%;
                .section4-center-bottom-left-top-p1{
                    color: #3E3E3E;
                    font-family: Gilroy;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 900;
                    font-family: 'Roboto', sans-serif;
                    line-height: normal;
                    margin-bottom: 30px;
                }
                .section4-center-bottom-left-top-p2{
                    color: #3E3E3E;
                    font-family: Gilroy;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    font-family: 'Roboto', sans-serif;
                    line-height: normal;
                    margin-bottom: 30px;
                }
                .seciton4-center-bottom-left-bottom{
                    width: 100%;
                    height: 40%;
                    .section4-center-bottom-center-top{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        button{
                            width: 250px;
                            height: 69px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 10px;
                            border-radius: 3px;
                            background: #3C93F0;
                            a{
                                text-decoration: none;
                                color: #FFF;
                                text-align: center;
                                font-family: Proxima Nova;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                text-transform: uppercase;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                    }
                    .section4-center-bottom-center-bottom{
                        width: 100%;
                        height: 50%;
                        display: flex;
                        align-items: center;
                        .section4-center-bottom-center-bottom-img{
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                        .section4-center-bottom-center-bottom-p{
                            color: #878787;
                            font-family: Gilroy;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
            }
            .section4-center-bottom-center{
                width: 30%;
                height: 100%;
                .section4-center-bottom-center-top{
                    width: 100%;
                    height: 70%;
                    img{
                        width: 100%;
                        height: 100%;    
                    }
                }
                .section4-center-bottom-center-bottom{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 20px;
                    }
                }
            }
            .section4-center-bottom-right{
                width: 30%;
                height: 100%;
                .section4-center-bottom-right-top{
                    width: 100%;
                    height: 70%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .section4-center-bottom-right-bottom{
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    img{
                        margin-left: 20px;
                    }
                }
            }    
        }
    }
}



.section-5{
    width: 100%;
    height: 770px;
    margin-top: 156px;
    .section5-center{
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .section5-center-top{
            width: 100%;
            height: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .section5-center-top-p1{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 48px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-family: 'Roboto' serif;
            }
            .section5-center-top-p2{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-family: 'Roboto' serif;
            }
        }
        .section5-center-bottom{
            width: 100%;
            height: 65%;
            display: flex;
            justify-content: space-between;
            .section5-center-bottom-left{
                width: 35%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .section5-center-bottom-left-section{
                    width: 100%;
                    height: 20%;
                    border-radius: 3px;
                    border: 1px solid #EDF3F6;
                    background: #3C93F0;
                    display: flex;
                    padding-left: 30px;
                    padding-top: 22px;
                    .section5-center-bottom-left-section-left{
                        width: 5%;
                        height: 50%;
                        p{
                            color: #FFF;
                            font-family: Gilroy;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                    .section5-center-bottom-left-section-right{
                        width: 50%;
                        height: 50%;
                        .section5-center-bottom-left-section-right-p{
                            color: #FFF;
                            font-family: Gilroy;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                        .section5-center-bottom-left-section-right-span{
                            color: #FFF;
                            font-family: Gilroy;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                }
                .section5-center-bottom-left-section2{
                    width: 100%;
                    height: 20%;
                    border-radius: 3px;
                    border: 1px solid #EDF3F6;
                    display: flex;
                    padding-left: 22px;
                    padding-top: 30px;
                    .section5-center-bottom-left-section2-left{
                        width: 5%;
                        height: 50%;
                        p{
                            color: #3E3E3E;
                            font-family: Gilroy;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            font-family: 'Roboto', sans-serif;
                        }
                    }
                    .section5-center-bottom-left-section2-right{
                        width: 50%;
                        height: 50%;
                        p{
                            color: #3E3E3E;
                            font-family: Gilroy;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                        }
                    }
                }
            }
            .section5-center-bottom-right{
                position: relative;
                width: 60%;
                height: 100%;
                background-image: url(../../../../pages/qobiljon-geo-zapros/img/background\ \(3\).png);
                background-repeat: no-repeat;
                background-size: 1022px;
                display: flex;
                border-radius: 10px;
                img{
                    margin-top: 40px;
                }
                .section5-center-bottom-right-div-for-p{
                    position: absolute;
                    width: 50%;
                    height: 70%;
                    left: 43%;
                    top: 28%;
                    &-p1{
                        color: #3E3E3E;
                        font-family: Gilroy;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: 30px;
                    }
                    &-p2{
                        color: #3E3E3E;
                        font-family: Gilroy;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 26px; /* 144.444% */
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
}












.section6{
    width: 100%;
    height: 1000px;
    border: 1px solid;
    margin-top: 100px;
    .section6-center{
        width: 90%;
        height: 100%;
        border: 1px solid;
        margin: 0 auto;
        .section6-top{
            width: 100%;
            height: 25%;
            border:1px solid;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            .section6-top-p1{
                color: #3E3E3E;
                text-align: center;
                font-family: Gilroy;
                font-size: 48px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                font-family: 'Roboto' sans-serif;
            }
            .section6-top-p2{
                color: #3E3E3E;
                text-align: center;
                font-family: Proxima Nova;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                font-family: 'Montserrat', sans-serif;
            }
        }
        .section6-center{
            width: 100%;
            height: 30%;
            border: 1px solid;
            display: flex;
            justify-content: space-between;
            .section6-center-left{
                width: 60%;
                height: 100%;
                border: 1px solid;
                border-radius: 3px;
                border: 1px solid #F1F1F1;
                background: #EDF3F6;
                .section6-center-left-left{
                    width: 70%;
                    height: 100%;
                    border: 1px solid;
                    .section6-center-left-left-top{
                        padding-left: 30px;
                        width: 100%;
                        height: 30%;
                        border: 1px solid;
                        display: flex;
                        align-items: center;
                        img{
                            width: 5px;
                            height: 35px;
                            flex-shrink: 0;
                            border-radius: 1px;
                            background: #09D743;
                        }
                        .section6-center-left-left-top-p{
                            color: #3E3E3E;
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                            margin-left: 15px;
                            .section6-center-left-left-top-p-span{
                                color: #3E3E3E;
                                font-family: Proxima Nova;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                font-family: 'Montserrat', sans-serif;
                            }
                        }
                    }
                    .section6-center-left-left-center{
                        padding-left: 30px;
                        width: 100%;
                        height: 40%;
                        border: 1px solid;
                        display: flex;
                        align-items: center;
                        .section6-center-left-left-center-input{
                            width: 280px;
                            height: 50px;
                            border: none;
                            padding-left: 20px;
                            color: #3E3E3E;
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            font-family: 'Montserrat', sans-serif;
                        }
                        .section6-center-left-left-center-btn{
                            width: 120px;
                            height: 50px;
                            flex-shrink: 0;
                            border-radius: 3px;
                            background: #3C93F0;
                            border: none;
                            a{
                                color: #FFF;
                                font-family: Gilroy;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                                text-transform: uppercase;
                                font-family: 'Roboto' sans-serif;
                                text-decoration: none;
                            }
                        }
                        
                    }
                    .section6-center-left-left-bottom{
                        padding-left: 30px;
                        width: 100%;
                        height: 30%;
                        border: 1px solid;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        img{
                            background-color: black;
                        }
                    }
                }
            }

            .section6-center-right{
                width: 35%;
                height: 100%;
                border: 1px solid;
            }
        }
    }
}































