.header{
    width: 1440px;
    height: 753px;
    top: 75px;
    .header__navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 75px;
        .header__navbar_img{
            width: 120px;
            height: 35px;
            top: 20px;
            left: 100px;
            img{
                width: 120px;
                height: 35px;
                top: 20px;
                left: 100px;
            }
        }
        .header__navbar_menu{
            display: flex;
            justify-content: end;
            width: 531px;
            height: 40px;
            top: 17px;
            left: 257px;
            margin-left: 40px;
            .header__navbar_menu-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                i{
                    font-size: 15px;
                    color: #3C93F0;
                }
            }
            .header__navbar_menu-list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 491px;
                height: 40px;
                top: 17px;
                left: 297.5px;
                gap: 40px;
                a{
                    text-decoration: none;
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #6f6f6f;
                    transition: 0.2s;
                }
                a:hover{
                    text-decoration: none;
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: rgb(0, 0, 0);
                }
            }
        }
        .header__navbar_citys{
            display: flex;
            align-items: center;
            width: 230px;
            height: 22px;
            top: 28px;
            left: 853px;
            margin-left: 60px;
            .header__navbar_citys-icon{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 26px;
                height: 22px;
                i{
                    color: #3C93F0;
                }
            }
            .header__navbar_citys-city{
                width: 204px;
                height: 22px;
                top: 28px;
                left: 879px;
                h2{
                    cursor: pointer;
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #6f6f6f;
                    transition: 0.2s;
                }
                h2:hover{
                    cursor: pointer;
                    font-family: Proxima Nova;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #000000;
                }
            }
        }
        .header__navbar_number{
            width: 257px;
            height: 40px;
            top: 18px;
            left: 1083px;
            padding: 4px, 0px, 1px, 0px;
            h2{
                font-family: 'Roboto', sans-serif;
                font-size: 28px;
                font-weight: 900;
                line-height: 35px;
                letter-spacing: 0em;
                text-align: right;
                color: #3E3E3E;
                span{
                   color: #FED036;
                }
            }
        }
        .menu{
            display: none;
        }
    }
    .header__hero{
        display: flex;
        width: 1440px;
        height: 678px;
        top: 75px;
        background: #FED036;
        .header__hero_left{
            display: flex;
            justify-content: end;
            align-items: center;
            width: 770px;
            height: 677px;
            padding: 170px, 0px, 170px, 100px;
            gap: 10px;
            .header__hero_left-text{
                width: 670px;
                height: 369px;
                gap: 30px;
                .hero__left_text-h3{
                    width: 670px;
                    height: 37px;
                    h3{
                        font-family: Proxima Nova;
                        font-size: 30px;
                        font-weight: 600;
                        line-height: 37px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #3E3E3E;
                    }
                }
                .hero__left_text-h2{
                    width: 670px;
                    height: 152px;
                    margin-top: 20px;
                    h2{
                        font-family: 'Roboto', sans-serif;
                        font-size: 60px;
                        font-weight: 900;
                        line-height: 76px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #FFFFFF;
                    }
                }
                .h3-cont{
                    display: none;
                }
                .hero__left_text-p{
                    display: flex;
                    align-items: center;
                    width: 670px;
                    height: 29px;
                    margin-top: 30px;
                    p{
                        font-family: Proxima Nova;
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 29px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #3E3E3E;
                        i{
                            font-size: 20px;
                            margin-right: 10px;
                        }
                    }
                }
                .hero__left_text-button{
                    position: relative;
                    display: flex;
                    width: 452.34px;
                    height: 61px;
                    border-radius: 3px;
                    margin-top: 38px;
                    .text-button-left{
                        display: flex;
                        align-items: center;
                        width: 450px;
                        height: 60px;
                        top: 308px;
                        border-radius: 3px;
                        background: #FFFFFF;
                        img{
                            margin-left: 10px;
                        }
                        h2{
                            font-family: Proxima Nova;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: 22px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #3E3E3E;
                            margin-left: 15px;
                        }
                    }
                    .text-button-right{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 163px;
                        height: 60px;
                        top: 0px;
                        left: 287px;
                        border-radius: 3px;
                        background: #3C93F0;
                        a{
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            font-size: 24px;
                            font-weight: 500;
                            line-height: 28px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #FFFFFF;
                        }
                    }
                    .text-button-right:hover{
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 163px;
                        height: 60px;
                        top: 0px;
                        left: 287px;
                        border-radius: 3px;
                        background: rgb(170, 170, 170);
                        a{
                            color: #3C93F0;
                        }
                        }
                }
            }
        }
        .header__hero_right{
            width: 670px;
            height: 678px;
            left: 770px;
            padding: 0px, 53.29px, 0px, 0px;
            background-image: url(/pages/kamron-glavnaya/images/picture.png);
            .header__hero_right-position{
                display: none;
            }
        }
    }
}


@media only screen and (max-width: 800px) {
    .header{
        width: 768px;
        height: 495px;
        margin: 0 auto;
        border: none;
        .header__navbar{
            display: flex;
            align-items: center;
            width: 768px;
            height: 45px;          
            .header__navbar_img{
                width: 84px;
                height: 25px;
                img{
                    width: 84px;
                    height: 25px;
                }
            }
            .header__navbar_menu{
                display: none;
                justify-content: end;
                width: 531px;
                height: 40px;
                top: 17px;
                left: 257px;
                margin-left: 40px;
                .header__navbar_menu-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    i{
                        font-size: 15px;
                        color: #3C93F0;
                    }
                }
                .header__navbar_menu-list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 491px;
                    height: 40px;
                    top: 17px;
                    left: 297.5px;
                    gap: 40px;
                    a{
                        text-decoration: none;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #6f6f6f;
                        transition: 0.2s;
                    }
                    a:hover{
                        text-decoration: none;
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: rgb(0, 0, 0);
                    }
                }
            }
            .header__navbar_citys{
                display: none;
                align-items: center;
                width: 230px;
                height: 22px;
                top: 28px;
                left: 853px;
                margin-left: 60px;
                .header__navbar_citys-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 26px;
                    height: 22px;
                    i{
                        color: #3C93F0;
                    }
                }
                .header__navbar_citys-city{
                    width: 204px;
                    height: 22px;
                    top: 28px;
                    left: 879px;
                    h2{
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #6f6f6f;
                        transition: 0.2s;
                    }
                    h2:hover{
                        font-family: Proxima Nova;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #000000;
                    }
                }
            }
            .header__navbar_number{
                display: none;
                width: 257px;
                height: 40px;
                top: 18px;
                left: 1083px;
                padding: 4px, 0px, 1px, 0px;
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-size: 28px;
                    font-weight: 900;
                    line-height: 35px;
                    letter-spacing: 0em;
                    text-align: right;
                    color: #3E3E3E;
                    span{
                       color: #FED036;
                    }
                }
            }
            .menu{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                top: 10px;
                left: 703px;
                padding: 6.25px, 4.17px, 6.25px, 4.17px;
                margin-left: 600px;
                i{
                    font-size: 20px;
                    color: #3C93F0;
                }
                i:hover{
                    font-size: 22px;
                    color: #3C93F0;
                }
            }
        }
        .header__hero{
            display: flex;
            width: 768px;
            height: 450px;
            top: 45px;
            background: #FED036;
            .header__hero_left{
                display: flex;
                justify-content: end;
                align-items: center;
                width: 384px;
                height: 450px;
                padding: 0px, 0px, 0px, 40px;
                gap: 10px;
                .header__hero_left-text{
                    width: 344px;
                    height: 209px;
                    gap: 16px;
                    .hero__left_text-h3{
                        width: 344px;
                        height: 24px;                   
                        h3{
                            font-family: Proxima Nova;
                            font-size: 20px;
                            font-weight: 600;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: left;                            
                            color: #3E3E3E;
                        }
                    }
                    .hero__left_text-h2{
                        width: 344px;
                        height: 80px;
                        margin-top: 10px;                     
                        h2{
                            font-family: 'Roboto', sans-serif;
                            font-size: 32px;
                            font-weight: 900;
                            line-height: 40px;
                            letter-spacing: 0em;
                            text-align: left;                            
                            color: #FFFFFF;
                        }
                    }
                    .hero__left_text-p{
                        display: flex;
                        align-items: center;
                        width: 344px;
                        height: 17px;
                        gap: 10px;
                        margin-top: 10px;                
                        p{
                            font-family: Proxima Nova;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 17px;
                            letter-spacing: 0em;
                            text-align: left;                            
                            color: #3E3E3E;
                            i{
                                font-size: 18px;
                                margin-right: 10px;
                            }
                        }
                    }
                    .hero__left_text-button{
                        position: relative;
                        display: flex;
                        width: 344px;
                        height: 40px;
                        margin-top: 26px;                    
                        .text-button-left{
                            display: flex;
                            align-items: center;
                            width: 344px;
                            height: 40px;                         
                            background: #FFFFFF;
                            img{
                                width: 20px;
                                height: 16px;
                                top: 12px;
                                left: 12px;                              
                                margin-left: 10px;
                            }
                            h2{
                                font-family: Proxima Nova;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: 15px;
                                letter-spacing: 0em;
                                text-align: left;                                
                                margin-left: 10px;
                            }
                        }
                        .text-button-right{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 101px;
                            height: 40px;
                            left: 243px;                           
                            border-radius: 3px;
                            background: #3C93F0;
                            a{
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 17px;
                                letter-spacing: 0em;
                                text-align: center;                                
                                color: #FFFFFF;
                            }
                        }
                        .text-button-right:hover{
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 101px;
                            height: 40px;
                            top: 0px;
                            left: 243px;
                            border-radius: 3px;
                            background: rgb(170, 170, 170);
                            a{
                                color: #3C93F0;
                            }
                            }
                    }
                }
            }
            .header__hero_right{
                width: 384px;
                height: 450px;
                left: 384px;                
                padding: 0px, 53.29px, 0px, 0px;
                background-image: url(/pages/kamron-glavnaya/images/picture\ \(1\).png);
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .header{
        width: 320px;
        height: 559px;
        .header__navbar{
            width: 320px;
            height: 35px;
            background: #FFFFFF;
            .header__navbar_img{
                display: flex;
                justify-content: start;
                align-items: center;
                width: 106px;
                height: 21px;
                top: 7px;
                left: 10px;
                margin-right: 170px;
                img{
                    width: 85px;
                    height: 22px;
                }
            }
            .menu{
                width: 24px;
                height: 24px;
                top: 5px;
                left: 286px;
                padding: 6px, 4px, 6px, 4p;
                margin-left: 0;
                i{
                    font-size: 16px;
                }
                i:hover{
                    font-size: 17px;
                } 
            }
        }
        .header__hero{
            display: block;
            width: 320px;
            height: 524px;
            top: 35px;
            .header__hero_left{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 320px;
                height: 159px;
                padding: 30px, 10px, 30px, 10px;
                gap: 10px;
                .header__hero_left-text{
                    width: 320px;
                    height: 159px;
                    padding: 30px, 10px, 30px, 10px;
                    gap: 10px;
                    .hero__left_text-h3{
                        display: none;
                    }
                    .hero__left_text-h2{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 320px;
                        height: 70px;
                        margin-top: 30px;
                        h2{
                            font-family: 'Roboto', sans-serif;
                            font-size: 28px;
                            font-weight: 900;
                            line-height: 35px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #FFFFFF;
                        }                       
                    }
                    .h3-cont{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 320px;
                        height: 19px;
                        margin-top: 15px;
                        h3{
                            font-family: Proxima Nova;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 19px;
                            letter-spacing: 0em;
                            text-align: center;
                            color: #3E3E3E;
                        }                       
                    }
                    .hero__left_text-p{
                        display: none;
                    }
                    .hero__left_text-button{
                        display: none;
                    }
                }      
            }
            .header__hero_right{
                position: relative;
                width: 320px;
                height: 341px;
                left: 0;
                background-image: url(/pages/kamron-glavnaya/images/img.png);
                .header__hero_right-position{
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 48px;
                    top: 316px;
                    left: 10px;
                    border-radius: 3px;
                    a{
                        text-decoration: none;
                        width: 150px;
                        height: 48px;
                        border-radius: 3px;
                    }
                }           
            }
        }
    }
}