.kompaniya-body{
    width: 1450px;
    height: 6000px;
    border: 1px solid;
 .kompaniya-body-header{
    display: inline-flex;
    height: 853px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    // border: $border;
    width: 100%;
    &-nav{
        width: 85%;
        height: 10%;
        // border: $border;

        display: flex;
        &-logo{
            height: 100%;
            width: 15%;
            // border: 1px solid;
            display: flex;
            align-items: center;
            gap: 85px;
        }
        &-menu{
            height: 100%;
            width: 531.5px;
            // border: 1px solid;
            display: flex;
            align-items: center;
        
            ul{
                display: flex;
                gap: 50px;
                li{
                    color: #3E3E3E;
                    font-family: $mont;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                
            }
        }
        &-phonenumber{
            height: 100%;
            width: 35%;
            // border: 1px solid;
            display: flex;
            align-items: center;
            
            
            select{
                border: none;
                color: #3E3E3E;
                font-family: $mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                            }
                p{
                    color: #3E3E3E;
                text-align: right;
                font-family: $roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 1300;
                line-height: normal;
                span{
                    color: #FED036;
                font-family: $roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                }
}
        }
    }
    &-hero{
        width: 100%;
        height: 90%;
        border: $border;
        background: linear-gradient(0deg, #FED036 3.07%,  
         rgba(255, 196, 0, 0.00) 26.6%), url(<path-to-image>), 
           lightgray 50% / cover no-repeat;
        background-color: #FED036;
        display: flex;
        &-left{
            width: 50%;
            height: 100%;
           
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            h4{
                color: #FFF;
                font-family: $roboto;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
                width: 770px;
                margin-left: 100px;
            }
            p{
                color: #3E3E3E;
                
                font-family: $mont;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 670px;
                margin-left: 100px;
            }
        }
        &-right{
            width: 50%;
            height: 100%;
            // border: $border;
            display: flex;
            justify-content: center;
            align-items: center;

             img{
                margin-top: 10%;
                margin-left: 8.5%;
                width: 692px;
                height: 600px;

             }
             .button{
                display: none;
            }
        }

    }
   

   }
   
}


@media screen and (max-width: 900px){
    .kompaniya-body{
        width: 850px;
        height: 5000px;
        .kompaniya-body-header{
           border: $border;
            display: flex;
            width: 768px;
            height: 453px;
            flex-direction: column;
            

            &-nav{
                width: 85%;
                height: 10%;
                border: $border;
                display: flex;
                
                &-logo{
                    height: 100%;
                    width: 800px;
                    border: 1px solid;
                    display: flex;
                    gap: 400px;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-between;
                }
                &-menu{
                    display: none;
                    width: 0px;
                }
                &-phonenumber{
                    display: none;
                    width: 0px;
                }
            }


            &-hero{
                width: 100%;
                height: 85%;
                border: $border;
                background: linear-gradient(0deg, #FED036 3.07%,  
                 rgba(255, 196, 0, 0.00) 26.6%), url(<path-to-image>), 
                   lightgray 50% / cover no-repeat;
                background-color: #FED036;
                display: flex;
                &-left{
                    width: 45%;
                    height: 100%;
                   
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    h4{
                        color: #FFF;
                        font-family: $roboto;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 900;
                        line-height: normal;
                        text-transform: uppercase;
                        width: 300px;
                        margin-left: 50px;
                    }
                    p{
                        color: #3E3E3E;
                        
                        font-family: $mont;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 300px;
                        margin-left: 50px;
                    }
                }
                &-right{
                    width: 50%;
                    height: 100%;
                    // border: $border;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                     img{
                        margin-top: 9%;
                        margin-left: 12.5%;
                        width: 352px;
                        height: 350px;
        
                     }
                }
        
            }
            
        }
    }
}



@media  screen and (max-width: 450px) {
    .kompaniya-body{
        width: 420px;
        height: 4901px;
        border: $border;
        .kompaniya-body-header{
            border: $border;
            display: flex;
            width: 420px;
            height: 650px;
            flex-direction: column;
            &-nav{
                width: 85%;
                height: 10%;
                border: $border;
                display: flex;
                &-logo{
                    height: 100%;
                    width: 420px;
                    border: 1px solid;
                    display: flex;
                    gap: 100px;
                    justify-content: center;
                    align-items: center;
                    justify-content: space-between;
                }
                &-menu{
                    display: none;
                    width: 0px;
                }
                &-phonenumber{
                    display: none;
                    width: 0px;
                }
            }

            &-hero{
                width: 100%;
                height: 90%;
                border: $border;
                background: linear-gradient(0deg, #FED036 3.07%,  
                 rgba(255, 196, 0, 0.00) 26.6%), url(<path-to-image>), 
                   lightgray 50% / cover no-repeat;
                background-color: #FED036;
                display: flex;
                flex-direction: column;
                &-left{
                    width: 100%;
                    height: 45%;
                   
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    h4{
                        color: #FFF;
                        font-family: $roboto;
                        font-size: 30px;
                        font-style: normal;
                        font-weight: 1000;
                        line-height: normal;
                        text-transform: uppercase;
                        width: 350px;
                        
                        text-align: center;
                    }
                    p{
                        color: #3E3E3E;
                        
                        font-family: $mont;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 350px;
                        text-align: center;
                       
                    }
                }
                &-right{
                    width: 100%;
                    height: 55%;
                    // border: $border;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
        
                     img{
                        margin-top: 0%;
                        margin-left: 16.5%;
                        width: 352px;
                        height: 320px;
        
                     }
                     .button{
                        display: block;
                        .button-call{
                            display: block;
                            position: absolute;
                            width: 177px;
                            height: 53px;
                            flex-shrink: 0;
                            top: 92%;
                            left: -3%;
                         }
                         .button-whatsApp{
                            display: block;
                            position: absolute;
                            width: 177px;
                            top: 92%;
                            left: 36%;
                            height: 53px;
                            flex-shrink: 0;
                         }

                     }
                     
                }
                // .button{
                //     display: block;
                //     .button-call{
                //         position: absolute;
                //         width: 177px;
                //         height: 53px;
                //         flex-shrink: 0;
                //         top: 92%;
                //         left: -3%;
                //         display: block;
                //      }
                //      .button-whatsApp{
                //         position: absolute;
                //         width: 177px;
                //         top: 92%;
                //         left: 36%;
                //         height: 53px;
                //         flex-shrink: 0;
                //         display: block;
                //      }

                //  }
        
            }
        }
    }
}
