.kompaniya-body{
    width: 1450px;
    height: 5000px;
    border: 1px solid;
 .kompaniya-body-header{
    display: inline-flex;
    height: 853px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    // border: $border;
    width: 100%;
    &-nav{
        width: 85%;
        height: 10%;
        // border: $border;

        display: flex;
        &-logo{
            height: 100%;
            width: 15%;
            // border: 1px solid;
            display: flex;
            align-items: center;
            gap: 85px;
        }
        &-menu{
            height: 100%;
            width: 531.5px;
            // border: 1px solid;
            display: flex;
            align-items: center;
        
            ul{
                display: flex;
                gap: 50px;
                li{
                    color: #3E3E3E;
                    font-family: $mont;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                }
                
            }
        }
        &-phonenumber{
            height: 100%;
            width: 35%;
            // border: 1px solid;
            display: flex;
            align-items: center;
            
            select{
                border: none;
                color: #3E3E3E;
                font-family: $mont;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                            }
                p{
                    color: #3E3E3E;
                text-align: right;
                font-family: $roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 1300;
                line-height: normal;
                span{
                    color: #FED036;
                font-family: $roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                }
}
        }
    }
    &-hero{
        width: 100%;
        height: 90%;
        border: $border;
        background: linear-gradient(0deg, #FED036 3.07%,  
         rgba(255, 196, 0, 0.00) 26.6%), url(<path-to-image>), 
           lightgray 50% / cover no-repeat;
        background-color: #FED036;
        display: flex;
        &-left{
            width: 50%;
            height: 100%;
            border: $border;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            h4{
                color: #FFF;
                font-family: $roboto;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;
                width: 770px;
                margin-left: 100px;
            }
            p{
                color: #3E3E3E;
                
                font-family: $mont;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                width: 670px;
                margin-left: 100px;
            }
        }
        &-right{
            width: 50%;
            height: 100%;
            // border: $border;
            display: flex;
            justify-content: center;
            align-items: center;

             img{
                margin-top: 10%;
                margin-left: 8.5%;
                width: 692px;
                height: 600px;

             }
        }

    }

   }
   
}



   

   
   





