.hystory-section{
    width: 100%;
    height: 800px;
    border: $border;
    .hystory-text{
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

    h3{
            color: #3E3E3E;
            text-align: center;
            font-family: $roboto;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            width: 1240px;
    }
    p{
        width: 1240px;
        color: #3E3E3E;
        text-align: center;
        font-family:$mont;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    }
    .hystory-line{
        width: 1445px;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #EDF3F6;
        position: relative;
        .main-line{
            position: absolute;
            top: 50%;
            left: 8%;
        }
        .line-1{
            position: absolute;
            top: 19%;
            left: 8%; 
        }
        .line-2{
            position: absolute;
            top: 19%;
            left: 26%; 
        }
        .line-3{
            position: absolute;
            top: 19%;
            left: 44%; 
        }
        .line-4{
            position: absolute;
            top: 19%;
            left: 62%; 
        }
        .line-5{
            position: absolute;
            top: 19%;
            left: 80%; 
        }
        .sircle-1{
            position: absolute;
            top: 16%;
            left: 107px; 
        }
        .sircel-2{
            position: absolute;
            top: 16%;
            left: 367px; 
        }
        .sircle-3{
            position: absolute;
            top: 16%;
            left: 627px; 
        }
        .sircle-4{
            position: absolute;
            top: 16%;
            left: 887px; 
        }
        .sicle-5{
            position: absolute;
            top: 16%;
            left:1147px; 
        }
        .b-line-1{
            position: absolute;
            top: 50%;
            left: 17%;
        }
        .b-line-2{
            position: absolute;
            top: 50%;
            left: 35%;
        }
        .b-line-3{
            position: absolute;
            top: 50%;
            left: 53%;
        }
        .b-line-4{
            position: absolute;
            top: 50%;
            left: 71%;
        }
        .b-sircle-1{
            position: absolute;
            top: 66%;
            left: 237px;  
        }
        .b-sircle-2{
            position: absolute;
            top: 66%;
            left: 497px;  
        }
        .b-sircle-3{
            position: absolute;
            top: 66%;
            left: 758px;  
        }
        .b-src-4{
            position: absolute;
            top: 66%;
            left: 1018px;  
        }
        .hystory-line-text-top{
            
            width: 85%;
            height: 40%;
            

            &-ul{
                width: 100%;
            height: 100%;
           
            display: inline-flex;
            gap: 60px;
            margin-left: 30px;
             li{
                width: 25%;
                height: 100%;
                border: $border;
                display: flex;
                flex-direction: column;
                gap: 40px;

                h4{
                    color: #3E3E3E;
font-family: $roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 198px;

                }
                p{
                    color: #3E3E3E;
font-family: $mont;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 198px;
                }
             }
            }
        }
        .hystory-line-text-bottom{
            width: 70%;
            height: 40%;
           
            margin-left: 16%;
            &-ul{
                width: 100%;
            height: 100%;
            
            display: inline-flex;
           gap: 30px;
            margin-left: 10px;

            li{
                width: 25%;
                height: 100%;
                
                display: flex;
                flex-direction: column;
                gap: 10px;

                h4{
                    color: #3E3E3E;
                    font-family: $roboto;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 228px;
                    margin-top: 60px;
                    margin-left: 20px;


                }
                p{
                    color: #3E3E3E;
                    font-family: $mont;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    width: 228px;
                    margin-left: 20px;
                }
             }
            }
        }
    }

    
}

@media screen and (max-width: 900px)
{

    .hystory-section{
        width: 100%;
        height: 600px;
        border: $border;
        .hystory-text{
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
    
        h3{
            color: #3E3E3E;
            text-align: center;
            font-family: $roboto;
            font-size: 32px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            width: 688px;
        }
        p{
            width: 688px;
            color: #3E3E3E;
            text-align: center;
            font-family:$mont;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        }
        .hystory-line{
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #EDF3F6;
            position: relative;
            .main-line{
                position: absolute;
                top: 50%;
                left: 8%;
               
                 width: 683px;
                
            }
            .line-1{
                position: absolute;
                top: 19%;
                left: 8%; 
            }
            .line-2{
                position: absolute;
                top: 19%;
                left: 26%; 
            }
            .line-3{
                position: absolute;
                top: 19%;
                left: 44%; 
            }
            .line-4{
                position: absolute;
                top: 19%;
                left: 62%; 
            }
            .line-5{
                position: absolute;
                top: 19%;
                left: 80%; 
            }
            .sircle-1{
                position: absolute;
                top: 16%;
                left: 60px; 
            }
            .sircel-2{
                position: absolute;
                top: 16%;
                left: 213px; 
            }
            .sircle-3{
                position: absolute;
                top: 16%;
                left: 365px; 
            }
            .sircle-4{
                position: absolute;
                top: 16%;
                left: 518px; 
            }
            .sicle-5{
                position: absolute;
                top: 16%;
                left:672px; 
            }
            .b-line-1{
                position: absolute;
                top: 50%;
                left: 17%;
            }
            .b-line-2{
                position: absolute;
                top: 50%;
                left: 35%;
            }
            .b-line-3{
                position: absolute;
                top: 50%;
                left: 53%;
            }
            .b-line-4{
                position: absolute;
                top: 50%;
                left: 71%;
            }
            .b-sircle-1{
                position: absolute;
                top: 66%;
                left: 137px;  
            }
            .b-sircle-2{
                position: absolute;
                top: 66%;
                left: 290px;  
            }
            .b-sircle-3{
                position: absolute;
                top: 66%;
                left: 443px;  
            }
            .b-src-4{
                position: absolute;
                top: 66%;
                left: 595px;  
            }
            .hystory-line-text-top{
                
                width: 85%;
                height: 40%;
                
    
                &-ul{
                    width: 100%;
                height: 100%;
               
                display: inline-flex;
                gap: 30px;
                // margin-left: 30px;
                 li{
                    width: 25%;
                    height: 100%;
                    border: $border;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
    
                    h4{
                        color: #3E3E3E;
    font-family: $roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 110px;
    
                    }
                    p{
                        color: #3E3E3E;
    font-family: $mont;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 110px;
                    }
                 }
                }
            }
            .hystory-line-text-bottom{
                width: 70%;
                height: 40%;
               
                margin-left: 16%;
                &-ul{
                    width: 100%;
                height: 100%;
                
                display: inline-flex;
               gap: 30px;
                margin-left: 10px;
    
                li{
                    width: 25%;
                    height: 100%;
                    
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    h4{
                        color: #3E3E3E;
                        font-family: $roboto;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        width: 110px;
                        margin-top: 60px;
                        margin-left: 20px;
    
    
                    }
                    p{
                        color: #3E3E3E;
                        font-family: $mont;
                        font-size: 10px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        width: 110px;
                        margin-left: 20px;
                    }
                 }
                }
            }
        }
    }
    
}


@media screen and (max-width: 450px){
    .hystory-section{
        width: 100%;
        height: 900px;
        border: $border;

        
            .hystory-text{
                width: 100%;
                height: 25%;
                display: flex;
               
                // justify-content: center;
                // align-items: center;
             
        
            h3{
                color: #3E3E3E;
                text-align: center;
                font-family: $roboto;
                font-size: 24px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                width: 355px;
            }
            p{
                width: 355px;
                color: #3E3E3E;
                text-align: center;
                font-family:$mont;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            }
            .hystory-line{
                width: 100%;
                height: 75%;
                display: flex;
                // display: block;
               flex-direction: row;
                background: #EDF3F6;
                position: relative;
                .main-line{
                    position: absolute;
                    top: 50%;
                    left: 8%;
                    display: none;
                }
                .line-1{
                    position: absolute;
                    top: 19%;
                    left: 8%; 
                    display: none;
                }
                .line-2{
                    position: absolute;
                    top: 19%;
                    left: 26%; 
                    display: none;
                }
                .line-3{
                    position: absolute;
                    top: 0%;
                    left: 50%; 
                    height: 100%;
                    width: 2px;
                    // display: none;
                }
                .line-4{
                    position: absolute;
                    top: 19%;
                    left: 62%; 
                    display: none;
                }
                .line-5{
                    position: absolute;
                    top: 19%;
                    left: 80%; 
                    display: none;
                }
                .sircle-1{
                    position: absolute;
                    top: -1%;
                    left: 201px; 
                }
                .sircel-2{
                    position: absolute;
                    top: 8%;
                    left: 201px; 
                }
                .sircle-3{
                    position: absolute;
                    top: 21%;
                    left: 201px; 
                }
                .sircle-4{
                    position: absolute;
                    top: 31%;
                    left: 201px; 
                }
                .sicle-5{
                    position: absolute;
                    top: 41%;
                    left:201px; 
                }
                .b-line-1{
                    position: absolute;
                    top: 50%;
                    left: 17%;
                    display: none;
                }
                .b-line-2{
                    position: absolute;
                    top: 50%;
                    left: 35%;
                    display: none;
                }
                .b-line-3{
                    position: absolute;
                    top: 50%;
                    left: 53%;
                    display: none;
                }
                .b-line-4{
                    position: absolute;
                    top: 50%;
                    left: 71%;
                    display: none;
                   
                }
                .b-sircle-1{
                    position: absolute;
                    top: 54%;
                    left: 201px;  
                    
                }
                .b-sircle-2{
                    position: absolute;
                    top: 62%;
                    left: 201px;  
                   
                }
                .b-sircle-3{
                    position: absolute;
                    top: 78%;
                    left: 201px;  
                    
                }
                .b-src-4{
                    position: absolute;
                    top: 97%;
                    left: 201px;  
                   
                }
                .hystory-line-text-top{
                    
                    width: 85%;
                    height: 40%;
                    display: none;
                    
        
                    &-ul{
                        width: 100%;
                    height: 100%;
                   
                    display: inline-flex;
                    gap: 60px;
                    margin-left: 30px;
                     li{
                        width: 25%;
                        height: 100%;
                        border: $border;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
        
                        h4{
                            color: #3E3E3E;
                            font-family: $roboto;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            width: 198px;
        
                        }
                        p{
                            color: #3E3E3E;
        font-family: $mont;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 198px;
                        }
                     }
                    }
                }
                .hystory-line-text-bottom{
                    width: 70%;
                    height: 40%;
                    display: none;
                   
                    margin-left: 16%;
                    &-ul{
                        width: 100%;
                    height: 100%;
                    
                    display: inline-flex;
                   gap: 30px;
                    margin-left: 10px;
        
                    li{
                        width: 25%;
                        height: 100%;
                        
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
        
                        h4{
                            color: #3E3E3E;
                            font-family: $roboto;
                            font-size: 36px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            width: 228px;
                            margin-top: 60px;
                            margin-left: 20px;
        
        
                        }
                        p{
                            color: #3E3E3E;
                            font-family: $mont;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            width: 228px;
                            margin-left: 20px;
                        }
                     }
                    }
                }
                .hystory-line-text-left{
                    width: 50%;
                    height: 100%;
                    display: block;
                    border: $border;
                   &-ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    li{
                        width: 25%;
                        height: 100%;
                        border: $border;
                        // display: flex;
                        // flex-direction: column;
                        // gap: 40px;
        
                        h4{
                            color: #3E3E3E;
                            text-align: right;
                            font-family: $roboto;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: normal;
                            margin-right: -70px;
        
                        }
                        p{
                            color: #3E3E3E;
                            text-align: right;
                            font-family: $mont;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            width: 120px;
                        }
                     }
                   }
                }
                .hystory-line-text-right{
                    width: 50%;
                    height: 100%;
                    margin-top: 100px;
                    
                    
                    border: $border;
                    &-ul{
                        width: 100%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                      
                        li{
                            width: 25%;
                            height: 100%;
                            border: $border;
                           
                            // display: flex;
                            // flex-direction: column;
                            // gap: 40px;
            
                            h4{
                                color: #3E3E3E;
                              
                                font-family: $roboto;
                                font-size: 24px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: normal;
                                margin-left: -60px;
            
                            }
                            p{
                                color: #3E3E3E;
                             
                                font-family: $mont;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                                width: 160px;
                                text-align: left;
                                margin-left: -60px;
                            }
                         }
                       }

                }
            } 
        
    }
}